/.eggs
/.tox
/.pytest_cache
/build
/dist
/node_modules
/tests/source/docs/_build
/tests/test_build/source/_build
sphinx_js.egg-info/
# Python 3
*/__pycache__/*
# Python 2.7
*.pyc
# Pycharm config
.idea
# VsCode config
.vscode
.DS_Store
venv
