pytest==7.2.0
recommonmark==0.7.1
# Sphinx's plain-text renderer changes behavior slightly
# with regard to how it emits class names and em dashes from
# time to time:
Sphinx==3.5.4
markupsafe==2.0.1
Jinja2>2.0,<3.0
tox==4.0.3
