version: 2.1

jobs:
  lint:
    docker:
      - image: cimg/python:3.9.1-node
    steps:
      - run: pip install tox==3.20.1
      - checkout
      - run: tox -e flake8
  test:
    docker:
      - image: cimg/python:3.9.1-node
    steps:
      - run: pip install tox==3.20.1
      - checkout
      - run: tox -e py39

workflows:
  version: 2
  lint_and_test:
    jobs:
      - lint
      - test
